{{!--Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"--}}
<main class="p-5">
    <div class="card">
        {{#with navigation}}
        <div class="nav">
            {{#each links}}
            <div class="nav-item">
                <a href="{{href}}" class="nav-link active">{{text}}</a>
            </div>
            {{/each}}
            <a href="#" class="nav-link disabled">Disabled</a>
        </div>
        {{/with}} {{!--// for navigation --}}
    </div>
    <br>
    <div class="row g-5">
        <div class="col-8">
            {{#with formBlock}}
            <h1>{{header}}</h1>
            {{#with rating}}
            <p>{{title}}: {{value}}</p>
            {{/with}}
            <br>
            {{#with actionBlock}}
            <div class="card mt-5">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        {{#with tabs}}
                        {{#each this}}
                        <li class="nav-item">
                            <a class="nav-link {{#if isActive}} active{{/if}} px-5" href="#">{{text}}</a>
                        </li>
                        {{/each}}
                        {{/with}}
                    </ul>
                </div>
                <div class="card-body">
                    <hr>
                    <div class="card">
                        {{#with report}}
                        <p class="p-2 mb-0">{{title}}</p>
                        <div class="row g-5 p-2">
                            <div class="col-4">
                                <a type="button" class="btn btn-secondary" href="{{button.link}}">{{button.text}}</a>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            {{/with}} {{!--// for actionBlock --}}
            {{#with feedbackBlock}}
            <h3 class="mt-5">{{title}}</h3>
            <div class="row">
                {{#with buttons}}
                {{#each this}}
                <div class="col-4">
                    <a type="button"
                        class="btn {{#if isWarning}} btn-warning {{else}} {{#if isSuccess}} btn-success {{else}} btn-danger {{/if}} {{/if}} p-2 m-1 my-4"
                        href="{{link}}">{{text}}</a>
                </div>
                {{/each}}
                {{/with}}
            </div>
            {{/with}} {{!--// for feedbackBlock --}}
        </div>

        <div class="col-4">

            {{#with goodsInfo}}
            <div class="card m-1 p-2">
                <img class="card-img-top" src="{{photo}}" alt="{{name}}">
                <div class="card-body">
                    <p class="fw-semibold mb-0 pb-0">{{name}}</p>
                </div>
            </div>
            <div class="card m-1 p-2">
                <p class="fw-semibold mb-0">{{price}}</p>
                {{#if inMarket}} <p class="m-0 p-0">Є в наявності</p> {{/if}}
                {{#with buttons}}
                {{#each this}}
                <a type="button" class="btn {{#if isPrimary}} btn-primary {{else}} btn-secondary {{/if}} p-2 m-1"
                    href="{{link}}">{{text}}</a>
                {{/each}}
                {{/with}}
            </div>
            <div class="card  m-1 p-2">
                {{#with seller}}
                <p class="m-1">{{title}}: <span class="fw-semibold">{{value}}</span></p>
                {{/with}}
            </div>
            {{/with}} {{!--// for goodsInfo --}}

        </div>
        {{/with}} {{!--// for FORMBLOCK --}}
    </div>
    <hr>
    {{#with reviewList}}
    {{#each this}}
    {{>reviewItem}}
    {{/each}}
    {{/with}} {{!--// for reviewList --}}
    {{#with service}}
    <div class="card p-3 mb-2 bg-success text-white text-center">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#with buttons}}
        {{#each this}}
        <a class="btn btn-primary w-50 m-1 mx-auto" href="{{link}}">{{text}}</a>
        {{/each}}
        {{/with}}
    </div>
    {{/with}}
    <div class="row g-5">
        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link {{#if @last}} disabled {{/if}} fs-6" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

</main>
{{!--Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML--}}