{{!--Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"--}}
<main class="p-5">

    {{#with navigation}}
    <div class="nav">
        {{#each links}}
        <div class="nav-item">
            <a href="{{href}}" class="nav-link active">{{text}}</a>
        </div>
        {{/each}}
        <a href="#" class="nav-link disabled">Disabled</a>
    </div>
    {{/with}} {{!--// for navigation --}}
    <hr class="sm">
    {{#with header}}
    <h1 class="mt-5">{{title}}</h1>
    {{#with button}}
    <a href="{{link}}" type="button" class="btn btn-outline-secondary mt-2 mb-4">{{text}}</a>
    {{/with}}
    {{/with}} {{!--// for header --}}
    <hr>
    {{#with goodsBlock}}
    {{#each this}}
    {{>cartGoodsItem}}
    {{/each}}
    {{/with}}
    <hr>
    {{#with total}}
    <h3 class="fw-semibold mt-5">{{title}}</h3>
    <p class="fw-semibold fs-2">{{amount}}</p>
    <p>{{delivery}}</p>
    {{#with buttons}}
    {{#each this}}
    <a type="button" {{#if isSuccess}} class="btn btn-success mb-3" {{else}} class="btn btn-outline-success mb-4"
        {{/if}} href="{{link}}">{{text}}</a>
    <br>
    {{/each}}
    {{/with}}
    {{/with}} {{!--// for total --}}
    <hr class="mb-5">
    {{#with goodsOtherBlock}}
    <h3 class="text-center m-4">{{title}}</h3>

    <div class="row g-5">
        {{#with cards}}
        {{#each this}}
        <div class="col-4">
            <div class="card">
                <img src="{{image}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}
                        {{#if isHot}}<span class="badge text-bg-warning text-uppercase m-0 p-1">Hot!</span>
                        {{else}} {{#if idNew}} <span class="badge text-bg-primary m-0 p-1">Нове</span> {{/if}} {{/if}}
                    </h5>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>
    {{/with}} {{!--// for goodsOtherBlock --}}
    <hr class="mb-5">
    {{#with subscribe}}
    <div class="card p-3 mb-5 bg-dark text-white">
        <h2>{{header}}</h2>
        <p>{{description}}</p>
        {{#with buttons}}
        {{#each this}}
        <div class="row g-5">
            <div class="col-4">
                <a class="btn btn-primary m-2" href="{{link}}" role="button">{{text}}</a>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>
    {{/with}} {{!--// for subscribe --}}
    <hr>

    <div class="row g-5">
        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link {{#if @last}} disabled {{/if}} fs-6" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

</main>
{{!--Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML--}}