{{!--Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"--}}
<main class="p-5">

    <div class="card">
        {{#with navigation}}
        <div class="nav">
            {{#each links}}
            <div class="nav-item">
                <a href="{{href}}" class="nav-link active">{{text}}</a>
            </div>
            {{/each}}
            <a href="#" class="nav-link disabled">Disabled</a>
        </div>
        {{/with}} {{!--// for navigation --}}
    </div>
    <hr>
    {{#with breadcrumb}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{#each this}}
            <li class="breadcrumb-item">
                <a href="{{url}}">{{name}}</a>
            </li>
            {{#if @last}} <li class="breadcrumb-item active" aria-current="page">
                {{name}}
            </li> {{/if}}
            {{/each}}
        </ol>
    </nav>
    {{/with}}
    <h1>{{header}}</h1>

    <div class="row g-5">
        {{#with sortBlock}}
        {{#each this}}
        <div class="col-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>{{placeholder}}</option>
                {{#with options}}
                {{#each this}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
                {{/with}}
            </select>
        </div>
        {{/each}}
        {{/with}} {{!--// for sortBlock --}}
    </div>

    <div class="row mt-2 g-5">
        <div class="col-4">
            {{#with filterBlock}}
            <div class="card p-2">
                {{#with sellers}}
                <p>{{title}}</p>
                {{#each list}}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{value}}
                    </label>
                </div>
                {{/each}}
                {{/with}}
                <hr>
                {{#with brands}}
                <p>{{title}}</p>
                <input class="form-control mb-2" placeholder="{{input.placeholder}}" type="text">
                {{#each options}}
                <div class="form-check">
                    <input class="form-check-input mb-2" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{value}}
                    </label>
                </div>
                {{/each}}
                {{/with}} {{!--// for brands --}}
                <hr>
                {{#with price}}
                <p>{{title}}</p>
                {{#with range}}
                <input class="form-control mb-2" placeholder="{{from}}" type="text">
                <input class="form-control mb-2" placeholder="{{to}}" type="text">
                {{/with}}
                <a type="button" class="btn btn-outline-secondary w-10" href="{{button.link}}">{{button.text}}</a>
                {{/with}} {{!--// for price --}}
                <hr>
                {{#each filterList}}
                <p>{{title}}</p>
                {{#with options}}
                {{#each this}}
                <div class="form-check">
                    <input class="form-check-input mb-1" type="checkbox">
                    <label class="form-check-label">{{value}}</label>
                </div>
                {{/each}}
                {{/with}}
                <hr>
                {{/each}} {{!--// for filterList --}}
                {{/with}} {{!--// for filterBlock --}}
            </div>
        </div>
        <div class="col-8">
            <div class="row g-5">
                {{#with goodsList}}
                {{#each this}}
                {{>catalogItem}}
                {{/each}}
                {{/with}}
            </div>
        </div>
    </div>

    </div>
    {{#with service}}
    <div class="card p-3 mb-2 bg-success text-white text-center">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#with buttons}}
        {{#each this}}
        <div class="row g-5">
            <div class="col-12">
                <a class="btn btn-primary m-2" href="{{link}}" role="button">{{text}}</a>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>
    {{/with}}

    <hr>

    <div class="row g-5">
        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link {{#if @last}} disabled {{/if}} fs-6" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

</main>
{{!--Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML--}}